Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/alacarte.desktop
data/alacarte.desktop.in
data/icons/Makefile
data/icons/Makefile.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/ar.gmo
po/as.gmo
po/ast.gmo
po/be.gmo
po/be@latin.gmo
po/bem.gmo
po/bg.gmo
po/bn.gmo
po/bn_IN.gmo
po/ca.gmo
po/crh.gmo
po/cs.gmo
po/da.gmo
po/de.gmo
po/dz.gmo
po/el.gmo
po/en_CA.gmo
po/en_GB.gmo
po/eo.gmo
po/es.gmo
po/et.gmo
po/eu.gmo
po/fa.gmo
po/fi.gmo
po/fr.gmo
po/fur.gmo
po/ga.gmo
po/gl.gmo
po/gu.gmo
po/he.gmo
po/hi.gmo
po/hr.gmo
po/hu.gmo
po/id.gmo
po/io.gmo
po/it.gmo
po/ja.gmo
po/ka.gmo
po/kk.gmo
po/kn.gmo
po/ko.gmo
po/ku.gmo
po/lt.gmo
po/lv.gmo
po/mg.gmo
po/mk.gmo
po/ml.gmo
po/mn.gmo
po/mr.gmo
po/nb.gmo
po/nl.gmo
po/nn.gmo
po/oc.gmo
po/or.gmo
po/pa.gmo
po/pl.gmo
po/ps.gmo
po/pt.gmo
po/pt_BR.gmo
po/ro.gmo
po/ru.gmo
po/si.gmo
po/sk.gmo
po/sl.gmo
po/sq.gmo
po/sr.gmo
po/sr@latin.gmo
po/stamp-it
po/sv.gmo
po/ta.gmo
po/te.gmo
po/th.gmo
po/tr.gmo
po/uk.gmo
po/uz@cyrillic.gmo
po/vi.gmo
po/zh_CN.gmo
po/zh_HK.gmo
po/zh_TW.gmo
src/.deps/
src/Makefile
src/Makefile.in
src/alacarte
src/alacarte.vala.stamp
src/config.c
src/config.o
src/config.vala
src/mainwindow.c
src/mainwindow.o
stamp-h1
