*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
config
configure
depcomp
gnome-doc-utils.make
help/*/*.mo
help/*/legal.xml
help/*.omf
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
stamp-h1
*~
\#*\#

.ropeproject
*.pyc
*.pyo
*.pyd
*_flymake.py

*.tar.gz
*.tar.bz2
*.tar.xz

Alacarte/config.py
alacarte
data/alacarte.desktop
data/alacarte.desktop.in
py-compile
